body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../graphic/S01_ログイン画面背景.jpg'); /* 背景画像の追加 */
    background-size: cover; /* 背景画像を全体に表示 */
    background-repeat: no-repeat; /* 背景画像を繰り返さない */
    background-position: center; /* 背景画像を中央に配置 */
}

header {
    background-color: #f8f8f8;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 50px;  /* ロゴの高さを調整 */
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* フォーム全体を中央揃え */
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.form-group label {
    margin-right: 10px;
}

input[type="text"], input[type="password"] {
    padding: 5px;
    font-size: 16px;
}

.gradient1{
    text-align: center; /* テキストの配置 */
    font-size: 20px; /* フォントサイズ */
    /*ボタンの形状*/
    display: inline-block;
    color:#fff;
    padding: 18px 10px;    
    /*背景の色と形状*/
    background: linear-gradient(270deg, #7fc1e0 0%, #788ae5 25%, #a15fb8 51%, #fb6e6e 100%);
    background-position: 1% 50%;
    background-size: 200% auto;
    /*アニメーションの指定*/
    transition: all 0.3s ease-out;
}

/*hoverした際の、背景の場所とテキスト色の変更*/
.gradient1:hover {
    color: #fff;
    background-position: 99% 50%;
}

input[type="submit"] {
    border: none; /* 枠線を消す */
    padding: 10px 50px; /* パディング */
    text-align: center; /* テキストの配置 */
    text-decoration: none; /* テキスト装飾を消す */
    display: inline-block; /* インラインブロック要素にする */
    font-size: 20px; /* フォントサイズ */
    margin: 3px 20px; /* マージン */
    cursor: pointer; /* カーソルをポインターにする */
    border-radius: 10px; /* 角を丸くする */
    transition-duration: 0.4s; /* トランジションの時間 */
    cursor: pointer;
    align-self: center; /* ボタンを中央揃え */    
}

input[type="submit"]:hover {
    background-color: #417f88; /* ホバー時の背景色 */
    color: #000000; /* ホバー時のテキストの色 */
}

footer {
    background-color: #f8f8f8;
    padding: 10px 20px;
    text-align: center;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

