* { /*初期設定*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { /*全体の設定*/
    font-family: "Zen Maru Gothic", serif; /*フォント*/
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 10PX;
    background-image: url('../graphic/S03_2_顧客新規登録背景.jpg'); /* 背景画像の追加 */
    background-size: cover; /* 背景画像を全体に表示 */
    background-repeat: no-repeat; /* 背景画像を繰り返さない */
    background-position: center; /* 背景画像を中央に配置 */
}

header { /*ヘッダー設定*/
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-size: 25px;
}

.logo { /*ロゴ設定*/
    height: 50px;  /* ロゴの高さを調整 */
    position: absolute;
    left : 20px;
}



footer {
    background-color: #f8f8f8;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.back{
    text-align: right;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}