* { /*初期設定*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { /*全体の設定*/
    font-family: "Zen Maru Gothic", serif; /*フォント*/
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 10PX;
    background-image: url('../graphic/S03_2_顧客新規登録背景.jpg'); /* 背景画像の追加 */
    background-size: cover; /* 背景画像を全体に表示 */
    background-repeat: no-repeat; /* 背景画像を繰り返さない */
    background-position: center; /* 背景画像を中央に配置 */
}


header { /*ヘッダー設定*/
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-size: 25px;
}

.logo { /*ロゴ設定*/
    height: 50px;  /* ロゴの高さを調整 */
    position: absolute;
    left : 20px;
}

main { /*メイン設定*/
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    flex-direction: column;
    padding: 50px;
    margin-bottom: 15px; /*配置*/
    display: flex;
    align-items: center; /*又はflex-start*/
}

label { /*性別 男性女性間の隙間*/
    margin-right: 20px;
}


input[type="text"]{
    padding: 5px;
    font-size: 16px; /*入力欄のフォントサイズ*/
    background: #f5f9c1;
    border: 2px solid #f3fc75; /*外線の太さ・色*/
    border-radius: 20px;
    padding: 5px; /*入力欄の幅*/
}
/* もともと記述されていたコード
input[type="text"]:focus,
textarea:focus{
    outline: #7c75fc;
}
*/

input[type="submit"] { /*登録ボタンの設定*/
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;

}


.Btn input{ /*ボタン基本スタイル設定*/
    width: 80px;
    margin: 0px 180px 0px 210px;
    background: #b7f5ea;
    border: 2px solid #4ef4d6;
    border-radius: 20px;
    padding: 5px;
    font-size: 18px;
    align-items: center;
}
.Btn input:hover{ /*ボタンかぶった際の設定*/
    opacity: 0.7;
}

#BackButton { /*戻るボタン基本スタイル設定*/
    font-size: 20px;
    position: absolute;
    bottom: 50px;
    right: 15px;
    width: 5em;
    height: 2em;
    border: 1px;
    border-radius: 5px;
    background-color: rgb(244, 126, 126);
}

#BackButton:hover { /*戻るボタンかぶった際の設定*/
    background-color:rgb(196, 97, 97);
    cursor: pointer;
}

footer { /*フッダーの設定*/
    background-color: #f8f8f8;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.back{
    text-align: right;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
