body {
    font-family: "Zen Maru Gothic", serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../graphic/S05_データ分析背景.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


header {
    background-color: #f8f8f8;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* ログアウトボタンを右端に配置 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-button-back {
    font-family: "Zen Maru Gothic", serif;
    background-color: #f98b8b; /* 背景色 */
    border: none; /* 枠線を消す */
    color: rgb(0, 0, 0); /* テキストの色 */
    padding: 15px 32px; /* パディング */
    text-align: right; /* テキストの配置 */
    text-decoration: none; /* テキスト装飾を消す */
    display: inline-block; /* インラインブロック要素にする */
    font-size: 15px; /* フォントサイズ */
    margin: 30px 20px; /* マージン */
    cursor: pointer; /* カーソルをポインターにする */
    border-radius: 20px; /* 角を丸くする */
    transition-duration: 0.4s; /* トランジションの時間 */
    position: fixed; /* 固定位置 */
    right: 5px; /* 右端からの距離 */
    bottom: 40px; /* 下端からの距離 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-button-back:hover {
    background-color: rgb(255, 0, 0); /* ホバー時の背景色 */
    color: rgb(255, 255, 255); /* ホバー時のテキストの色 */
    border: none; /* ホバー時の枠線 */
}

.custom-button3 {
    font-family: "Zen Maru Gothic", serif;
    text-align: center; /* テキストの配置 */
    font-size: 20px; /* フォントサイズ */
    border-radius: 20px; /* 角を丸くする */
    width: 230px; /* ボタンの幅を指定 */
    height: 100px; /* ボタンの高さを指定 */
    display: inline-block;
    color: #fff;
    padding: 18px 10px;
    background: linear-gradient(270deg, #9ca2f4 0%, #a978e5 25%, #c66ebf 51%, #fb6e98 100%);
    background-position: 1% 50%;
    background-size: 200% auto;
    transition: all 0.3s ease-out;
    position: relative; /* 相対位置に変更 */
    margin: 20px 0; /* 上下のマージンを設定 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-button3:hover {
    /* hoverした際の、背景の場所とテキスト色の変更 */
    color: #ffffff;
    background-position: 99% 50%;
}

.logo {
    height: 50px;
}

#container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* 中央に配置 */
    align-items: flex-start; /* 上に配置 */
    text-align: center;
    padding-right: 20px; /* 右端の余白を追加 */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center; /* 中央揃え */
    width: 100%; /* 親要素の幅を100%に */
}

form {
    display: flex;
    flex-direction: row; /* ボタンを横並びに配置 */
    align-items: flex-end; /* ボタンを右端に配置 */
    justify-content: center; /* ボタンを中央に配置 */
    gap: 20px; /* ボタン間のスペースを追加 */
}

form input[type="submit"] {
    border: none; /* 枠線を消す */
    width: 230px; /* ボタンの幅を指定 */
    height: 70px; /* ボタンの高さを指定 */
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    margin: 20px 0; /* ボタン同士の上下の隙間を設定 */
    box-sizing: border-box; /* パディングを含めて幅と高さを計算 */
    background-color: #d8fff7;
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* 高さを調整して文字が中央に来るように */
    width: 100%;
    font-size: 30px;
    color: #4c4c4c;
    margin-top: 20px; /* 上に適度な余白を追加 */
    text-align: center; /* テキストを中央揃え */
}

footer {
    background-color: #f8f8f8;
    padding: 10px 20px;
    text-align: center;
    position: fixed; /* フッターを固定 */
    bottom: 0; /* 画面の下部に配置 */
    width: 100%; /* フッターの幅を100%に設定 */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* 上に影を追加 */
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.back {
    text-align: right;
}

.table-container {
    text-align: center;
    border: 2px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    width: 80%;
    max-width: 1200px;
    max-height: 400px; /* 高さを制限 */
    overflow-y: auto; /* 縦スクロールを有効にする */
    margin: 20px auto; /* 自動的に左右中央揃え */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* テーブルの行にマウスを乗せたときに背景色を変える */
table tr:hover {
    background-color: #fcc2e6; /* ホバー時の背景色 */
}
